In [207]:
from pycoingecko import CoinGeckoAPI
import pandas as pd
import time

In [208]:
cg = CoinGeckoAPI()

In [209]:
# Lista de IDs de monedas deseadas
coins_ids =["bitcoin","ethereum","solana","litecoin","cardano","chainlink","dogecoin","tether","uniswap","polkadot"]

In [210]:
# Definición de la función que obtiene una lista de datos de monedas basada en sus IDs.
def get_coin_list(coins_ids):
    # Obtiene una lista completa de datos de todas las monedas.
    coin_data = cg.get_coins_list()  # Llamada a la función para obtener datos de las monedas.
    
    # Filtra las monedas seleccionadas basadas en sus IDs proporcionados.
    selected_coins = [coin for coin in coin_data if coin['id'] in coins_ids]
    
    # Convierte la lista filtrada de monedas en un DataFrame usando pandas.
    df = pd.DataFrame(selected_coins)
    
    # Retorna el DataFrame resultante.
    return df

In [211]:
# Llamada a la función para obtener un DataFrame de datos de monedas basado en los IDs proporcionados.
coin_list = get_coin_list(coins_ids)

In [212]:
# Ver el resultado de la funcion
coin_list

          id symbol       name
0    bitcoin    btc    Bitcoin
1    cardano    ada    Cardano
2  chainlink   link  Chainlink
3   dogecoin   doge   Dogecoin
4   ethereum    eth   Ethereum
5   litecoin    ltc   Litecoin
6   polkadot    dot   Polkadot
7     solana    sol     Solana
8     tether   usdt     Tether
9    uniswap    uni    Uniswap

In [213]:
# Definición de la función que obtiene el precio mínimo de una moneda en un período de tiempo.
def get_coin_price_min(coins_ids, vs_currency, years):
    # Calcula los timestamps de inicio y final del período de tiempo.
    end_timestamp = int(time.time())  # Timestamp actual.
    start_timestamp = end_timestamp - (years * 365 * 24 * 60 * 60)  # Retrocede años en segundos.
    
    # Lista que almacenará los datos de precios mínimos.
    prices_data = []
    
    # Itera a través de los IDs de las monedas proporcionados.
    for coin_id in coins_ids:
        try:
            # Obtiene datos históricos de precios para la moneda en el rango de tiempo especificado.
            historical_data = cg.get_coin_market_chart_range_by_id(coin_id, vs_currency, start_timestamp, end_timestamp)
            
            # Extrae los precios de cierre de los datos históricos.
            prices = [entry[1] for entry in historical_data['prices']]
            
            # Calcula el precio mínimo de la moneda en el período.
            min_price = min(prices)
            
            # Agrega los datos de precio mínimo a la lista.
            prices_data.append({'coin_id': coin_id, 'min_price': min_price})
        except Exception as e:
            # Maneja los errores en caso de problemas al obtener los datos.
            print(f"Error al obtener datos de {coin_id}: {str(e)}")
    
    # Crea un DataFrame con los datos de precios mínimos.
    df = pd.DataFrame(prices_data)
    
    # Retorna el DataFrame resultante.
    return df

In [214]:
# Llamada a la función para obtener un DataFrame con los precios mínimos de las monedas en un período de 20 años.
min_ = get_coin_price_max_min(coins_ids, "usd", 20)

In [215]:
# Renombrar las columnas
min_=min_.rename(columns={"coin_id":"id"})

In [216]:
#Ver el Dataframe resultante
min_

          id  min_price
0    bitcoin  67.809000
1   ethereum   0.432979
2     solana   0.513923
3   litecoin   1.148851
4    cardano   0.021321
5  chainlink   0.148183
6   dogecoin   0.000087
7     tether   0.572521
8    uniswap   1.928177
9   polkadot   2.871923

In [217]:
# Definición de la función que obtiene datos de mercado para las monedas especificadas.
def get_coin_market_data(ids, vs_currency):
    # Obtiene datos de mercado para las monedas especificadas en una moneda de referencia (vs_currency).
    market_data = cg.get_coins_markets(ids=ids, vs_currency=vs_currency)
    
    # Convierte los datos de mercado en un DataFrame utilizando pandas.
    return pd.DataFrame(market_data)

In [218]:
# Llamada a la función para obtener un DataFrame con los datos de mercado de las monedas en USD.
market_data = get_coin_market_data(coins_ids, "usd")

In [219]:
#Ver DataFrame
market_data

,id,symbol,name,image,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,...,total_supply,max_supply,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated
0,bitcoin,btc,Bitcoin,https://assets.coingecko.com/coins/images/1/la...,26013.000000,505465562878,1,545276596685,13881903696,26668.000000,...,2.100000e+07,2.100000e+07,69045.000000,-62.33152,2021-11-10T14:24:11.849Z,67.810000,38254.95596,2013-07-06T00:00:00.000Z,None,2023-08-24T17:45:38.226Z
1,ethereum,eth,Ethereum,https://assets.coingecko.com/coins/images/279/...,1647.640000,197689938814,2,197689938814,7486328587,1689.230000,...,1.202142e+08,NaN,4878.260000,-66.29942,2021-11-10T14:24:19.604Z,0.432979,379595.73729,2015-10-20T00:00:00.000Z,"{'times': 83.71003120946985, 'currency': 'btc'...",2023-08-24T17:45:34.905Z
2,tether,usdt,Tether,https://assets.coingecko.com/coins/images/325/...,1.001000,82878124678,3,82878124678,15753423845,1.004000,...,8.284578e+10,NaN,1.320000,-24.39014,2018-07-24T00:00:00.000Z,0.572521,74.73428,2015-03-02T00:00:00.000Z,None,2023-08-24T17:45:00.343Z
3,cardano,ada,Cardano,https://assets.coingecko.com/coins/images/975/...,0.265855,9278163572,8,11913742690,167114639,0.270932,...,4.500000e+10,4.500000e+10,3.090000,-91.42339,2021-09-02T06:00:10.474Z,0.019253,1275.14072,2020-03-13T02:22:55.044Z,None,2023-08-24T17:45:40.517Z
4,dogecoin,doge,Dogecoin,https://assets.coingecko.com/coins/images/5/la...,0.062724,8796280374,9,8796287875,245292031,0.064318,...,1.407237e+11,NaN,0.731578,-91.45807,2021-05-08T05:08:23.458Z,0.000087,71808.19122,2015-05-06T00:00:00.000Z,None,2023-08-24T17:45:39.850Z
5,solana,sol,Solana,https://assets.coingecko.com/coins/images/4128...,20.930000,8520685149,10,11610542334,377470876,21.970000,...,5.556406e+08,NaN,259.960000,-91.96009,2021-11-06T21:54:35.825Z,0.500801,4073.40818,2020-05-11T19:35:23.449Z,None,2023-08-24T17:45:33.841Z
6,polkadot,dot,Polkadot,https://assets.coingecko.com/coins/images/1217...,4.410000,5573631800,12,5929704150,97991595,4.510000,...,1.348479e+09,NaN,54.980000,-91.99812,2021-11-04T14:10:09.301Z,2.700000,63.09844,2020-08-20T05:48:11.359Z,None,2023-08-24T17:45:39.141Z
7,litecoin,ltc,Litecoin,https://assets.coingecko.com/coins/images/2/la...,64.450000,4735550757,16,5406414228,338704819,66.430000,...,8.400000e+07,8.400000e+07,410.260000,-84.29497,2021-05-10T03:13:07.904Z,1.150000,5508.37904,2015-01-14T00:00:00.000Z,None,2023-08-24T17:45:39.119Z
8,uniswap,uni,Uniswap,https://assets.coingecko.com/coins/images/1250...,4.650000,3497082900,21,4639476715,93429351,4.830000,...,1.000000e+09,1.000000e+09,44.920000,-89.65061,2021-05-03T05:25:04.822Z,1.030000,351.25973,2020-09-17T01:20:38.214Z,None,2023-08-24T17:45:32.846Z
9,chainlink,link,Chainlink,https://assets.coingecko.com/coins/images/877/...,6.080000,3262591899,24,6063170550,167855846,6.390000,...,1.000000e+09,1.000000e+09,52.700000,-88.49453,2021-05-10T00:13:57.214Z,0.148183,3991.55235,2017-11-29T00:00:00.000Z,None,2023-08-24T17:45:40.947Z

In [220]:
# Definición de la función que obtiene las categorías de monedas.
def get_coin_categories():
    # Obtiene las categorías de monedas utilizando la función cg.get_coins_categories().
    categories = cg.get_coins_categories()
    
    # Convierte las categorías en un DataFrame utilizando pandas.
    return pd.DataFrame(categories)

In [221]:
# Llamada a la función para obtener un DataFrame con las categorías de monedas.
categories = get_coin_categories()

In [222]:
#Ver DataFrame
categories

,id,name,market_cap,market_cap_change_24h,content,top_3_coins,volume_24h,updated_at
0,layer-1,Layer 1 (L1),7.865386e+11,0.181874,,[https://assets.coingecko.com/coins/images/1/s...,2.218981e+10,2023-08-24T17:40:22.786Z
1,smart-contract-platform,Smart Contract Platform,3.039458e+11,0.810887,Smart contract platforms are usually blockchai...,[https://assets.coingecko.com/coins/images/279...,1.044377e+10,2023-08-24T17:40:07.778Z
2,stablecoins,Stablecoins,1.237152e+11,-0.478470,,[https://assets.coingecko.com/coins/images/325...,2.102005e+10,2023-08-24T17:40:07.415Z
3,alleged-sec-securities,Alleged SEC Securities,8.262093e+10,1.541689,Tokens and cryptocurrencies alleged to be secu...,[https://assets.coingecko.com/coins/images/825...,3.570451e+09,2023-08-24T17:40:05.448Z
4,exchange-based-tokens,Exchange-based Tokens,5.286737e+10,1.676169,These tokens are normally associated with both...,[https://assets.coingecko.com/coins/images/825...,9.887585e+08,2023-08-24T17:40:09.954Z
...,...,...,...,...,...,...,...,...
110,mantle-ecosystem,Mantle Ecosystem,NaN,NaN,,[https://assets.coingecko.com/coins/images/325...,NaN,None
111,friend-tech,friend.tech,0.000000e+00,0.000000,,[https://assets.coingecko.com/coins/images/313...,5.065908e+03,2023-08-24T17:40:04.386Z
112,linea-ecosystem,Linea Ecosystem,NaN,NaN,,[https://assets.coingecko.com/coins/images/208...,NaN,None
113,base-ecosystem,Base Ecosystem,NaN,NaN,,[https://assets.coingecko.com/coins/images/995...,NaN,2023-07-31T06:41:01.295Z
114,tenet-ecosystem,Tenet Ecosystem,NaN,NaN,,[https://assets.coingecko.com/coins/images/301...,NaN,None

In [223]:
# Definición de la función que obtiene los volúmenes de trading de monedas en un período de tiempo.
def get_volume(coin_ids, days):
    # Calcula los timestamps de inicio y final del período de tiempo.
    end_timestamp = int(time.time())  # Timestamp actual.
    start_timestamp = end_timestamp - (days * 24 * 60 * 60)  # Retrocede días en segundos.
    
    # Lista que almacenará los volúmenes de trading.
    volumes = []
    
    # Itera a través de los IDs de las monedas proporcionados.
    for coin_id in coin_ids:
        # Obtiene datos de volumen de trading para la moneda en el rango de tiempo especificado.
        volume_data = cg.get_coin_market_chart_range_by_id(coin_id, vs_currency='usd', from_timestamp=start_timestamp, to_timestamp=end_timestamp)
        
        # Extrae el volumen de trading correspondiente al primer punto en el rango.
        volumes.append(volume_data['total_volumes'][0][1])
    
    # Crea un DataFrame con los datos de volúmenes de trading.
    return pd.DataFrame(volumes)

In [224]:
# Llamada a la función para obtener un DataFrame con los volúmenes de trading de las monedas en el último día.
volume = get_volume(coins_ids, 1)

In [225]:
# Renombrar columnas del DataFrame Volume
volume=volume.rename(columns={0:"volume"})

In [226]:
# Ver DataFrame
volume

         volume
0  1.656776e+10
1  1.041294e+10
2  4.873271e+08
3  5.386907e+08
4  1.947043e+08
5  2.440833e+08
6  3.732905e+08
7  1.698972e+10
8  1.357975e+08
9  1.148372e+08

In [227]:
# Definición de la función que obtiene las capitalizaciones de mercado de monedas en un período de tiempo.
def get_market_caps(coin_ids, days):
    # Calcula los timestamps de inicio y final del período de tiempo.
    end_timestamp = int(time.time())  # Timestamp actual.
    start_timestamp = end_timestamp - (days * 24 * 60 * 60)  # Retrocede días en segundos.
    
    # Lista que almacenará las capitalizaciones de mercado.
    market_caps = []
    
    # Itera a través de los IDs de las monedas proporcionados.
    for coin_id in coin_ids:
        # Obtiene datos de capitalización de mercado para la moneda en el rango de tiempo especificado.
        market_data = cg.get_coin_market_chart_range_by_id(coin_id, vs_currency='usd', from_timestamp=start_timestamp, to_timestamp=end_timestamp)
        
        # Extrae la capitalización de mercado correspondiente al primer punto en el rango.
        market_caps.append(market_data['market_caps'][0][1])
    
    # Crea un DataFrame con los datos de capitalizaciones de mercado.
    return pd.DataFrame(market_caps)

In [228]:
# Llamada a la función para obtener un DataFrame con las capitalizaciones de mercado de las monedas en el último día.
market_cap = get_market_caps(coins_ids, 1)

In [229]:
# Renombrar columnas de DataFrame market_cap
market_cap=market_cap.rename(columns={0:"market_cap"})

In [230]:
#Ver DataFrame
market_cap

     market_cap
0  5.159007e+11
1  2.025215e+11
2  8.721675e+09
3  4.875116e+09
4  9.366286e+09
5  3.433764e+09
6  9.008774e+09
7  8.280442e+10
8  3.638501e+09
9  5.698976e+09

In [231]:
# Definición de la función que obtiene los rangos de capitalización de mercado de monedas.
def get_ranks(coin_ids):
    # Diccionario para almacenar los rangos.
    ranks = {}
    
    # Itera a través de los IDs de las monedas proporcionados.
    for coin_id in coin_ids:
        # Obtiene información de la moneda por su ID.
        coin_info = cg.get_coin_by_id(coin_id)
        
        # Obtiene el rango de capitalización de mercado de la moneda.
        rank = coin_info['market_cap_rank']
        
        # Almacena el rango en el diccionario usando el ID de la moneda como clave.
        ranks[coin_id] = rank
    
    # Crea una lista de tuplas (ID de moneda, rango) a partir del diccionario.
    ranks_list = [(coin_id, rank) for coin_id, rank in ranks.items()]
    
    # Crea un DataFrame con la lista de rangos.
    df = pd.DataFrame(ranks_list, columns=['Coin ID', 'Rank'])
    
    # Retorna el DataFrame resultante.
    return df

In [232]:
# Llamada a la función para obtener un DataFrame con los rangos de capitalización de mercado de las monedas.
ranks = get_ranks(coins_ids)

In [233]:
# Ver DataFrame
ranks

     Coin ID  Rank
0    bitcoin     1
1   ethereum     2
2     solana    10
3   litecoin    16
4    cardano     8
5  chainlink    24
6   dogecoin     9
7     tether     3
8    uniswap    21
9   polkadot    12

In [234]:
# Definición de la función que obtiene el suministro máximo de monedas.
def get_max_supply(coin_ids):
    # Lista que almacenará los datos de suministro máximo.
    max_supply_data = []
    
    # Itera a través de los IDs de las monedas proporcionados.
    for coin_id in coin_ids:
        # Obtiene información de la moneda por su ID.
        coin_info = cg.get_coin_by_id(coin_id)
        
        # Obtiene el suministro máximo de la moneda.
        max_supply = coin_info['market_data']['max_supply']
        
        # Agrega los datos de suministro máximo a la lista.
        max_supply_data.append({
            'Coin ID': coin_id,
            'Max Supply': max_supply
        })
    
    # Crea un DataFrame con los datos de suministro máximo.
    df = pd.DataFrame(max_supply_data)
    
    # Retorna el DataFrame resultante.
    return df

In [235]:
# Llamada a la función para obtener un DataFrame con los datos de suministro máximo de las monedas.
max_supply = get_max_supply(coins_ids)

In [236]:
# Ver DataFrame
max_supply

     Coin ID    Max Supply
0    bitcoin  2.100000e+07
1   ethereum           NaN
2     solana           NaN
3   litecoin  8.400000e+07
4    cardano  4.500000e+10
5  chainlink  1.000000e+09
6   dogecoin           NaN
7     tether           NaN
8    uniswap  1.000000e+09
9   polkadot           NaN

In [237]:
# Función que obtiene la plataforma asociada con las monedas.
def get_platform(coin_ids):
    # Lista que almacenará los datos de plataforma.
    platform_data = []
    
    # Itera a través de los IDs de las monedas proporcionados.
    for coin_id in coin_ids:
        # Obtiene información de la moneda por su ID.
        coin_info = cg.get_coin_by_id(coin_id)
        
        # Obtiene la información de la plataforma de la moneda.
        platform = coin_info.get('platforms', {})
        
        # Agrega los datos de plataforma a la lista.
        platform_data.append({'coin_id': coin_id, 'platform': platform})
    
    # Crea un DataFrame con los datos de plataforma.
    return pd.DataFrame(platform_data)

# Función que obtiene datos de desarrollo asociados con las monedas.
def get_development(coin_ids):
    # Lista que almacenará los datos de desarrollo.
    development_data = []
    
    # Itera a través de los IDs de las monedas proporcionados.
    for coin_id in coin_ids:
        # Obtiene información de la moneda por su ID.
        coin_info = cg.get_coin_by_id(coin_id)
        
        # Obtiene los datos de desarrollo de la moneda.
        development = coin_info.get('developer_data', {})
        
        # Agrega los datos de desarrollo a la lista.
        development_data.append({'coin_id': coin_id, 'development': development})
    
    # Crea un DataFrame con los datos de desarrollo.
    return pd.DataFrame(development_data)

# Función que obtiene enlaces relacionados con las monedas.
def get_links(coin_ids):
    # Lista que almacenará los datos de enlaces.
    links_data = []
    
    # Itera a través de los IDs de las monedas proporcionados.
    for coin_id in coin_ids:
        # Obtiene información de la moneda por su ID.
        coin_info = cg.get_coin_by_id(coin_id)
        
        # Obtiene los enlaces asociados con la moneda.
        links = coin_info.get('links', {})
        
        # Agrega los datos de enlaces a la lista.
        links_data.append({'coin_id': coin_id, 'links': links})
    
    # Crea un DataFrame con los datos de enlaces.
    return pd.DataFrame(links_data)

# Función que obtiene información DeFi relacionada con las monedas.
def get_defi_info(coin_ids):
    # Lista que almacenará los datos de información DeFi.
    defi_info_data = []
    
    # Itera a través de los IDs de las monedas proporcionados.
    for coin_id in coin_ids:
        # Obtiene información de la moneda por su ID.
        coin_info = cg.get_coin_by_id(coin_id)
        
        # Obtiene los datos de información DeFi de la moneda.
        defi_info = coin_info.get('public_interest_stats', {})
        
        # Agrega los datos de información DeFi a la lista.
        defi_info_data.append({'coin_id': coin_id, 'defi_info': defi_info})
    
    # Crea un DataFrame con los datos de información DeFi.
    return pd.DataFrame(defi_info_data)

# Función que obtiene datos de adopción relacionados con las monedas.
def get_adoption(coin_ids):
    # Lista que almacenará los datos de adopción.
    adoption_data = []
    
    # Itera a través de los IDs de las monedas proporcionados.
    for coin_id in coin_ids:
        # Obtiene información de la moneda por su ID.
        coin_info = cg.get_coin_by_id(coin_id)
        
        # Obtiene los datos de adopción de la moneda.
        adoption = coin_info.get('sentiment_votes_up_percentage', 0)
        
        # Agrega los datos de adopción a la lista.
        adoption_data.append({'coin_id': coin_id, 'adoption': adoption})
    
    # Crea un DataFrame con los datos de adopción.
    return pd.DataFrame(adoption_data)

In [238]:
# Llamada a la función para obtener un DataFrame con los datos de desarrollo de las monedas.
development_data = get_development(coins_ids)

# Llamada a la función para obtener un DataFrame con los datos de información DeFi de las monedas.
defi_info_data = get_defi_info(coins_ids)

# Llamada a la función para obtener un DataFrame con los datos de adopción de las monedas.
adoption_data = get_adoption(coins_ids)

In [271]:
# Combinación de los DataFrames de datos de desarrollo, información DeFi y adopción utilizando 'coin_id' como clave.
coin_data = pd.merge(development_data, defi_info_data, on='coin_id')
coin_data = pd.merge(coin_data, adoption_data, on='coin_id')

# Combinación de los DataFrames de datos de suministro máximo y rangos utilizando 'coin_id' como clave.
coin_data = pd.merge(coin_data, max_supply, left_on='coin_id', right_on='Coin ID')
coin_data = pd.merge(coin_data, ranks, on='Coin ID')

# Combinación de los DataFrames de datos de capitalización de mercado, volúmenes y precios mínimos utilizando índices.
coin_data = pd.merge(coin_data, market_cap, left_index=True, right_index=True)
coin_data = pd.merge(coin_data, volume, left_index=True, right_index=True)
coin_data = pd.merge(coin_data, min_, left_index=True, right_index=True)

# Combinación de los DataFrames de datos de lista de monedas y datos combinados anteriores utilizando índices.
coin_data = pd.merge(coin_list, coin_data, left_index=True, right_index=True)

# Combinación de los DataFrames de datos de precios de mercado utilizando índices.
coin_data = pd.merge(coin_data, market_data, left_index=True, right_index=True)

In [272]:
# Ver DataFrame resultante
coin_data

,id_x,symbol_x,name_x,coin_id,development,defi_info,adoption,Coin ID,Max Supply,Rank,...,total_supply,max_supply,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated
0,bitcoin,btc,Bitcoin,bitcoin,"{'forks': 35559, 'stars': 70989, 'subscribers'...","{'alexa_rank': 9440, 'bing_matches': None}",71.17,bitcoin,2.100000e+07,1,...,2.100000e+07,2.100000e+07,69045.000000,-62.33152,2021-11-10T14:24:11.849Z,67.810000,38254.95596,2013-07-06T00:00:00.000Z,None,2023-08-24T17:45:38.226Z
1,cardano,ada,Cardano,ethereum,"{'forks': 18322, 'stars': 43418, 'subscribers'...","{'alexa_rank': 8793, 'bing_matches': None}",66.96,ethereum,NaN,2,...,1.202142e+08,NaN,4878.260000,-66.29942,2021-11-10T14:24:19.604Z,0.432979,379595.73729,2015-10-20T00:00:00.000Z,"{'times': 83.71003120946985, 'currency': 'btc'...",2023-08-24T17:45:34.905Z
2,chainlink,link,Chainlink,solana,"{'forks': 3140, 'stars': 10545, 'subscribers':...","{'alexa_rank': 83508, 'bing_matches': None}",72.53,solana,NaN,10,...,8.284578e+10,NaN,1.320000,-24.39014,2018-07-24T00:00:00.000Z,0.572521,74.73428,2015-03-02T00:00:00.000Z,None,2023-08-24T17:45:00.343Z
3,dogecoin,doge,Dogecoin,litecoin,"{'forks': 3059, 'stars': 4216, 'subscribers': ...","{'alexa_rank': 178888, 'bing_matches': None}",67.65,litecoin,8.400000e+07,16,...,4.500000e+10,4.500000e+10,3.090000,-91.42339,2021-09-02T06:00:10.474Z,0.019253,1275.14072,2020-03-13T02:22:55.044Z,None,2023-08-24T17:45:40.517Z
4,ethereum,eth,Ethereum,cardano,"{'forks': 638, 'stars': 3757, 'subscribers': 4...","{'alexa_rank': 42419, 'bing_matches': None}",85.57,cardano,4.500000e+10,8,...,1.407237e+11,NaN,0.731578,-91.45807,2021-05-08T05:08:23.458Z,0.000087,71808.19122,2015-05-06T00:00:00.000Z,None,2023-08-24T17:45:39.850Z
5,litecoin,ltc,Litecoin,chainlink,"{'forks': 1421, 'stars': 4924, 'subscribers': ...","{'alexa_rank': 41366, 'bing_matches': None}",77.14,chainlink,1.000000e+09,24,...,5.556406e+08,NaN,259.960000,-91.96009,2021-11-06T21:54:35.825Z,0.500801,4073.40818,2020-05-11T19:35:23.449Z,None,2023-08-24T17:45:33.841Z
6,polkadot,dot,Polkadot,dogecoin,"{'forks': 2797, 'stars': 14316, 'subscribers':...","{'alexa_rank': 145564, 'bing_matches': None}",62.07,dogecoin,NaN,9,...,1.348479e+09,NaN,54.980000,-91.99812,2021-11-04T14:10:09.301Z,2.700000,63.09844,2020-08-20T05:48:11.359Z,None,2023-08-24T17:45:39.141Z
7,solana,sol,Solana,tether,"{'forks': 0, 'stars': 0, 'subscribers': 0, 'to...","{'alexa_rank': 74251, 'bing_matches': None}",30.77,tether,NaN,3,...,8.400000e+07,8.400000e+07,410.260000,-84.29497,2021-05-10T03:13:07.904Z,1.150000,5508.37904,2015-01-14T00:00:00.000Z,None,2023-08-24T17:45:39.119Z
8,tether,usdt,Tether,uniswap,"{'forks': 0, 'stars': 0, 'subscribers': 0, 'to...","{'alexa_rank': 3614, 'bing_matches': None}",60.00,uniswap,1.000000e+09,21,...,1.000000e+09,1.000000e+09,44.920000,-89.65061,2021-05-03T05:25:04.822Z,1.030000,351.25973,2020-09-17T01:20:38.214Z,None,2023-08-24T17:45:32.846Z
9,uniswap,uni,Uniswap,polkadot,"{'forks': 1623, 'stars': 7013, 'subscribers': ...","{'alexa_rank': 30578, 'bing_matches': None}",70.27,polkadot,NaN,12,...,1.000000e+09,1.000000e+09,52.700000,-88.49453,2021-05-10T00:13:57.214Z,0.148183,3991.55235,2017-11-29T00:00:00.000Z,None,2023-08-24T17:45:40.947Z

In [273]:
# Ver informacion del DataFrame
coin_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 40 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id_x                              10 non-null     object
 1   symbol_x                          10 non-null     object
 2   name_x                            10 non-null     object
 3   coin_id                           10 non-null     object
 4   development                       10 non-null     object
 5   defi_info                         10 non-null     object
 6   adoption                          10 non-null     float64
 7   Coin ID                           10 non-null     object
 8   Max Supply                        5 non-null      float64
 9   Rank                              10 non-null     int64
 10  market_cap_x                      10 non-null     float64
 11  volume                            10 non-null     float64
 12  id_y                              10 non-null     object
 13  min_price                         10 non-null     float64
 14  id                                10 non-null     object
 15  symbol_y                          10 non-null     object
 16  name_y                            10 non-null     object
 17  image                             10 non-null     object
 18  current_price                     10 non-null     float64
 19  market_cap_y                      10 non-null     int64
 20  market_cap_rank                   10 non-null     int64
 21  fully_diluted_valuation           10 non-null     int64
 22  total_volume                      10 non-null     int64
 23  high_24h                          10 non-null     float64
 24  low_24h                           10 non-null     float64
 25  price_change_24h                  10 non-null     float64
 26  price_change_percentage_24h       10 non-null     float64
 27  market_cap_change_24h             10 non-null     float64
 28  market_cap_change_percentage_24h  10 non-null     float64
 29  circulating_supply                10 non-null     float64
 30  total_supply                      10 non-null     float64
 31  max_supply                        5 non-null      float64
 32  ath                               10 non-null     float64
 33  ath_change_percentage             10 non-null     float64
 34  ath_date                          10 non-null     object
 35  atl                               10 non-null     float64
 36  atl_change_percentage             10 non-null     float64
 37  atl_date                          10 non-null     object
 38  roi                               1 non-null      object
 39  last_updated                      10 non-null     object
dtypes: float64(19), int64(5), object(16)
memory usage: 3.2+ KB

In [265]:
# Crear lista para borrar
drop=["id_y","name_y","symbol_y","Coin ID","market_cap_y"]

In [ ]:
# Iteración a través de las columnas del DataFrame coin_data para eliminar columnas especificadas.
for i in coin_data:
    coin_data.drop(columns=drop, inplace=True)

In [275]:
# Ver nuevo DataFrame
coin_data

,id_x,symbol_x,name_x,coin_id,development,defi_info,adoption,Max Supply,Rank,market_cap_x,...,total_supply,max_supply,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated
0,bitcoin,btc,Bitcoin,bitcoin,"{'forks': 35559, 'stars': 70989, 'subscribers'...","{'alexa_rank': 9440, 'bing_matches': None}",71.17,2.100000e+07,1,5.159007e+11,...,2.100000e+07,2.100000e+07,69045.000000,-62.33152,2021-11-10T14:24:11.849Z,67.810000,38254.95596,2013-07-06T00:00:00.000Z,None,2023-08-24T17:45:38.226Z
1,cardano,ada,Cardano,ethereum,"{'forks': 18322, 'stars': 43418, 'subscribers'...","{'alexa_rank': 8793, 'bing_matches': None}",66.96,NaN,2,2.025215e+11,...,1.202142e+08,NaN,4878.260000,-66.29942,2021-11-10T14:24:19.604Z,0.432979,379595.73729,2015-10-20T00:00:00.000Z,"{'times': 83.71003120946985, 'currency': 'btc'...",2023-08-24T17:45:34.905Z
2,chainlink,link,Chainlink,solana,"{'forks': 3140, 'stars': 10545, 'subscribers':...","{'alexa_rank': 83508, 'bing_matches': None}",72.53,NaN,10,8.721675e+09,...,8.284578e+10,NaN,1.320000,-24.39014,2018-07-24T00:00:00.000Z,0.572521,74.73428,2015-03-02T00:00:00.000Z,None,2023-08-24T17:45:00.343Z
3,dogecoin,doge,Dogecoin,litecoin,"{'forks': 3059, 'stars': 4216, 'subscribers': ...","{'alexa_rank': 178888, 'bing_matches': None}",67.65,8.400000e+07,16,4.875116e+09,...,4.500000e+10,4.500000e+10,3.090000,-91.42339,2021-09-02T06:00:10.474Z,0.019253,1275.14072,2020-03-13T02:22:55.044Z,None,2023-08-24T17:45:40.517Z
4,ethereum,eth,Ethereum,cardano,"{'forks': 638, 'stars': 3757, 'subscribers': 4...","{'alexa_rank': 42419, 'bing_matches': None}",85.57,4.500000e+10,8,9.366286e+09,...,1.407237e+11,NaN,0.731578,-91.45807,2021-05-08T05:08:23.458Z,0.000087,71808.19122,2015-05-06T00:00:00.000Z,None,2023-08-24T17:45:39.850Z
5,litecoin,ltc,Litecoin,chainlink,"{'forks': 1421, 'stars': 4924, 'subscribers': ...","{'alexa_rank': 41366, 'bing_matches': None}",77.14,1.000000e+09,24,3.433764e+09,...,5.556406e+08,NaN,259.960000,-91.96009,2021-11-06T21:54:35.825Z,0.500801,4073.40818,2020-05-11T19:35:23.449Z,None,2023-08-24T17:45:33.841Z
6,polkadot,dot,Polkadot,dogecoin,"{'forks': 2797, 'stars': 14316, 'subscribers':...","{'alexa_rank': 145564, 'bing_matches': None}",62.07,NaN,9,9.008774e+09,...,1.348479e+09,NaN,54.980000,-91.99812,2021-11-04T14:10:09.301Z,2.700000,63.09844,2020-08-20T05:48:11.359Z,None,2023-08-24T17:45:39.141Z
7,solana,sol,Solana,tether,"{'forks': 0, 'stars': 0, 'subscribers': 0, 'to...","{'alexa_rank': 74251, 'bing_matches': None}",30.77,NaN,3,8.280442e+10,...,8.400000e+07,8.400000e+07,410.260000,-84.29497,2021-05-10T03:13:07.904Z,1.150000,5508.37904,2015-01-14T00:00:00.000Z,None,2023-08-24T17:45:39.119Z
8,tether,usdt,Tether,uniswap,"{'forks': 0, 'stars': 0, 'subscribers': 0, 'to...","{'alexa_rank': 3614, 'bing_matches': None}",60.00,1.000000e+09,21,3.638501e+09,...,1.000000e+09,1.000000e+09,44.920000,-89.65061,2021-05-03T05:25:04.822Z,1.030000,351.25973,2020-09-17T01:20:38.214Z,None,2023-08-24T17:45:32.846Z
9,uniswap,uni,Uniswap,polkadot,"{'forks': 1623, 'stars': 7013, 'subscribers': ...","{'alexa_rank': 30578, 'bing_matches': None}",70.27,NaN,12,5.698976e+09,...,1.000000e+09,1.000000e+09,52.700000,-88.49453,2021-05-10T00:13:57.214Z,0.148183,3991.55235,2017-11-29T00:00:00.000Z,None,2023-08-24T17:45:40.947Z

In [319]:
# Normalización de datos JSON en la columna 'development' del DataFrame coin_data.
expanded_data = pd.json_normalize(coin_data['development'])

In [320]:
# Concatenación del DataFrame coin_data y el DataFrame expanded_data a lo largo del eje horizontal (axis=1).
coin_data2 = pd.concat([coin_data, expanded_data], axis=1)

In [321]:
# Ver DataFrame normalizado
expanded_data

,forks,stars,subscribers,total_issues,closed_issues,pull_requests_merged,pull_request_contributors,commit_count_4_weeks,last_4_weeks_commit_activity_series,code_additions_deletions_4_weeks.additions,code_additions_deletions_4_weeks.deletions
0,35559,70989,3946,7549,7198,10884,834,231,[],1955.0,-1731.0
1,18322,43418,2214,7454,7198,5483,857,96,"[0, 5, 8, 2, 1, 3, 2, 0, 4, 2, 3, 6, 6, 3, 0, ...",11828.0,-3800.0
2,3140,10545,271,4978,4307,22425,390,187,[],61504.0,-57936.0
3,3059,4216,507,526,460,119,48,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0,0.0
4,638,3757,462,849,665,1706,80,0,[],0.0,0.0
5,1421,4924,285,410,346,7329,155,247,"[6, 7, 10, 11, 7, 17, 2, 3, 9, 11, 10, 13, 14,...",99286.0,-63667.0
6,2797,14316,846,1173,1026,1206,158,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0,0.0
7,0,0,0,0,0,0,0,0,[],NaN,NaN
8,0,0,0,0,0,0,0,0,[],NaN,NaN
9,1623,7013,495,2124,1604,4115,252,60,[],65301.0,-26123.0

In [322]:
# Borrar columna development
coin_data2.drop(columns=['development'], inplace=True)

In [323]:
# Ver DataFrame resultante
coin_data2

,id_x,symbol_x,name_x,coin_id,defi_info,adoption,Max Supply,Rank,market_cap_x,volume,...,stars,subscribers,total_issues,closed_issues,pull_requests_merged,pull_request_contributors,commit_count_4_weeks,last_4_weeks_commit_activity_series,code_additions_deletions_4_weeks.additions,code_additions_deletions_4_weeks.deletions
0,bitcoin,btc,Bitcoin,bitcoin,"{'alexa_rank': 9440, 'bing_matches': None}",71.17,2.100000e+07,1,5.159007e+11,1.656776e+10,...,70989,3946,7549,7198,10884,834,231,[],1955.0,-1731.0
1,cardano,ada,Cardano,ethereum,"{'alexa_rank': 8793, 'bing_matches': None}",66.96,NaN,2,2.025215e+11,1.041294e+10,...,43418,2214,7454,7198,5483,857,96,"[0, 5, 8, 2, 1, 3, 2, 0, 4, 2, 3, 6, 6, 3, 0, ...",11828.0,-3800.0
2,chainlink,link,Chainlink,solana,"{'alexa_rank': 83508, 'bing_matches': None}",72.53,NaN,10,8.721675e+09,4.873271e+08,...,10545,271,4978,4307,22425,390,187,[],61504.0,-57936.0
3,dogecoin,doge,Dogecoin,litecoin,"{'alexa_rank': 178888, 'bing_matches': None}",67.65,8.400000e+07,16,4.875116e+09,5.386907e+08,...,4216,507,526,460,119,48,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0,0.0
4,ethereum,eth,Ethereum,cardano,"{'alexa_rank': 42419, 'bing_matches': None}",85.57,4.500000e+10,8,9.366286e+09,1.947043e+08,...,3757,462,849,665,1706,80,0,[],0.0,0.0
5,litecoin,ltc,Litecoin,chainlink,"{'alexa_rank': 41366, 'bing_matches': None}",77.14,1.000000e+09,24,3.433764e+09,2.440833e+08,...,4924,285,410,346,7329,155,247,"[6, 7, 10, 11, 7, 17, 2, 3, 9, 11, 10, 13, 14,...",99286.0,-63667.0
6,polkadot,dot,Polkadot,dogecoin,"{'alexa_rank': 145564, 'bing_matches': None}",62.07,NaN,9,9.008774e+09,3.732905e+08,...,14316,846,1173,1026,1206,158,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0,0.0
7,solana,sol,Solana,tether,"{'alexa_rank': 74251, 'bing_matches': None}",30.77,NaN,3,8.280442e+10,1.698972e+10,...,0,0,0,0,0,0,0,[],NaN,NaN
8,tether,usdt,Tether,uniswap,"{'alexa_rank': 3614, 'bing_matches': None}",60.00,1.000000e+09,21,3.638501e+09,1.357975e+08,...,0,0,0,0,0,0,0,[],NaN,NaN
9,uniswap,uni,Uniswap,polkadot,"{'alexa_rank': 30578, 'bing_matches': None}",70.27,NaN,12,5.698976e+09,1.148372e+08,...,7013,495,2124,1604,4115,252,60,[],65301.0,-26123.0

In [324]:
# Normalización de datos JSON en la columna 'defi_info' del DataFrame coin_data2.
expanded_data = pd.json_normalize(coin_data2['defi_info'])

In [325]:
# Ver DataFRame normalizado
expanded_data

   alexa_rank bing_matches
0        9440         None
1        8793         None
2       83508         None
3      178888         None
4       42419         None
5       41366         None
6      145564         None
7       74251         None
8        3614         None
9       30578         None

In [326]:
# Concatenar los DataFrame
coin_data2 = pd.concat([coin_data2, expanded_data], axis=1)

In [327]:
# Ver DataFrame resultante
coin_data2

,id_x,symbol_x,name_x,coin_id,defi_info,adoption,Max Supply,Rank,market_cap_x,volume,...,total_issues,closed_issues,pull_requests_merged,pull_request_contributors,commit_count_4_weeks,last_4_weeks_commit_activity_series,code_additions_deletions_4_weeks.additions,code_additions_deletions_4_weeks.deletions,alexa_rank,bing_matches
0,bitcoin,btc,Bitcoin,bitcoin,"{'alexa_rank': 9440, 'bing_matches': None}",71.17,2.100000e+07,1,5.159007e+11,1.656776e+10,...,7549,7198,10884,834,231,[],1955.0,-1731.0,9440,None
1,cardano,ada,Cardano,ethereum,"{'alexa_rank': 8793, 'bing_matches': None}",66.96,NaN,2,2.025215e+11,1.041294e+10,...,7454,7198,5483,857,96,"[0, 5, 8, 2, 1, 3, 2, 0, 4, 2, 3, 6, 6, 3, 0, ...",11828.0,-3800.0,8793,None
2,chainlink,link,Chainlink,solana,"{'alexa_rank': 83508, 'bing_matches': None}",72.53,NaN,10,8.721675e+09,4.873271e+08,...,4978,4307,22425,390,187,[],61504.0,-57936.0,83508,None
3,dogecoin,doge,Dogecoin,litecoin,"{'alexa_rank': 178888, 'bing_matches': None}",67.65,8.400000e+07,16,4.875116e+09,5.386907e+08,...,526,460,119,48,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0,0.0,178888,None
4,ethereum,eth,Ethereum,cardano,"{'alexa_rank': 42419, 'bing_matches': None}",85.57,4.500000e+10,8,9.366286e+09,1.947043e+08,...,849,665,1706,80,0,[],0.0,0.0,42419,None
5,litecoin,ltc,Litecoin,chainlink,"{'alexa_rank': 41366, 'bing_matches': None}",77.14,1.000000e+09,24,3.433764e+09,2.440833e+08,...,410,346,7329,155,247,"[6, 7, 10, 11, 7, 17, 2, 3, 9, 11, 10, 13, 14,...",99286.0,-63667.0,41366,None
6,polkadot,dot,Polkadot,dogecoin,"{'alexa_rank': 145564, 'bing_matches': None}",62.07,NaN,9,9.008774e+09,3.732905e+08,...,1173,1026,1206,158,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0,0.0,145564,None
7,solana,sol,Solana,tether,"{'alexa_rank': 74251, 'bing_matches': None}",30.77,NaN,3,8.280442e+10,1.698972e+10,...,0,0,0,0,0,[],NaN,NaN,74251,None
8,tether,usdt,Tether,uniswap,"{'alexa_rank': 3614, 'bing_matches': None}",60.00,1.000000e+09,21,3.638501e+09,1.357975e+08,...,0,0,0,0,0,[],NaN,NaN,3614,None
9,uniswap,uni,Uniswap,polkadot,"{'alexa_rank': 30578, 'bing_matches': None}",70.27,NaN,12,5.698976e+09,1.148372e+08,...,2124,1604,4115,252,60,[],65301.0,-26123.0,30578,None

In [328]:
# Borrar la columna defi_info
coin_data2.drop(columns=['defi_info'], inplace=True)

In [329]:
# Ver DataFrame resultante
coin_data2

,id_x,symbol_x,name_x,coin_id,adoption,Max Supply,Rank,market_cap_x,volume,min_price,...,total_issues,closed_issues,pull_requests_merged,pull_request_contributors,commit_count_4_weeks,last_4_weeks_commit_activity_series,code_additions_deletions_4_weeks.additions,code_additions_deletions_4_weeks.deletions,alexa_rank,bing_matches
0,bitcoin,btc,Bitcoin,bitcoin,71.17,2.100000e+07,1,5.159007e+11,1.656776e+10,67.809000,...,7549,7198,10884,834,231,[],1955.0,-1731.0,9440,None
1,cardano,ada,Cardano,ethereum,66.96,NaN,2,2.025215e+11,1.041294e+10,0.432979,...,7454,7198,5483,857,96,"[0, 5, 8, 2, 1, 3, 2, 0, 4, 2, 3, 6, 6, 3, 0, ...",11828.0,-3800.0,8793,None
2,chainlink,link,Chainlink,solana,72.53,NaN,10,8.721675e+09,4.873271e+08,0.513923,...,4978,4307,22425,390,187,[],61504.0,-57936.0,83508,None
3,dogecoin,doge,Dogecoin,litecoin,67.65,8.400000e+07,16,4.875116e+09,5.386907e+08,1.148851,...,526,460,119,48,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0,0.0,178888,None
4,ethereum,eth,Ethereum,cardano,85.57,4.500000e+10,8,9.366286e+09,1.947043e+08,0.021321,...,849,665,1706,80,0,[],0.0,0.0,42419,None
5,litecoin,ltc,Litecoin,chainlink,77.14,1.000000e+09,24,3.433764e+09,2.440833e+08,0.148183,...,410,346,7329,155,247,"[6, 7, 10, 11, 7, 17, 2, 3, 9, 11, 10, 13, 14,...",99286.0,-63667.0,41366,None
6,polkadot,dot,Polkadot,dogecoin,62.07,NaN,9,9.008774e+09,3.732905e+08,0.000087,...,1173,1026,1206,158,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0,0.0,145564,None
7,solana,sol,Solana,tether,30.77,NaN,3,8.280442e+10,1.698972e+10,0.572521,...,0,0,0,0,0,[],NaN,NaN,74251,None
8,tether,usdt,Tether,uniswap,60.00,1.000000e+09,21,3.638501e+09,1.357975e+08,1.928177,...,0,0,0,0,0,[],NaN,NaN,3614,None
9,uniswap,uni,Uniswap,polkadot,70.27,NaN,12,5.698976e+09,1.148372e+08,2.871923,...,2124,1604,4115,252,60,[],65301.0,-26123.0,30578,None

In [330]:
# Borrar columnas del DataFrame
coin_data2.drop(columns=["last_4_weeks_commit_activity_series","bing_matches","roi","max_supply","min_price"], inplace=True)

In [331]:
# Renombrar columnas
coin_data2.rename(columns={"ath":"max_price","atl":"min_price"}, inplace=True)

In [332]:
# Ver informacion del DataFrame final
coin_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 41 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   id_x                                        10 non-null     object
 1   symbol_x                                    10 non-null     object
 2   name_x                                      10 non-null     object
 3   coin_id                                     10 non-null     object
 4   adoption                                    10 non-null     float64
 5   Max Supply                                  5 non-null      float64
 6   Rank                                        10 non-null     int64
 7   market_cap_x                                10 non-null     float64
 8   volume                                      10 non-null     float64
 9   id                                          10 non-null     object
 10  image                                       10 non-null     object
 11  current_price                               10 non-null     float64
 12  market_cap_rank                             10 non-null     int64
 13  fully_diluted_valuation                     10 non-null     int64
 14  total_volume                                10 non-null     int64
 15  high_24h                                    10 non-null     float64
 16  low_24h                                     10 non-null     float64
 17  price_change_24h                            10 non-null     float64
 18  price_change_percentage_24h                 10 non-null     float64
 19  market_cap_change_24h                       10 non-null     float64
 20  market_cap_change_percentage_24h            10 non-null     float64
 21  circulating_supply                          10 non-null     float64
 22  total_supply                                10 non-null     float64
 23  max_price                                   10 non-null     float64
 24  ath_change_percentage                       10 non-null     float64
 25  ath_date                                    10 non-null     object
 26  min_price                                   10 non-null     float64
 27  atl_change_percentage                       10 non-null     float64
 28  atl_date                                    10 non-null     object
 29  last_updated                                10 non-null     object
 30  forks                                       10 non-null     int64
 31  stars                                       10 non-null     int64
 32  subscribers                                 10 non-null     int64
 33  total_issues                                10 non-null     int64
 34  closed_issues                               10 non-null     int64
 35  pull_requests_merged                        10 non-null     int64
 36  pull_request_contributors                   10 non-null     int64
 37  commit_count_4_weeks                        10 non-null     int64
 38  code_additions_deletions_4_weeks.additions  8 non-null      float64
 39  code_additions_deletions_4_weeks.deletions  8 non-null      float64
 40  alexa_rank                                  10 non-null     int64
dtypes: float64(19), int64(13), object(9)
memory usage: 3.3+ KB

In [334]:
# Exportar DataFrame como csv para el EDA
coin_data2.to_csv("coin_data2.csv", index=False)